body {
    margin: 0;
    padding: 20px;
}
nav {
    background-color: #dc060690;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    display: flex;
    gap: 10px;
}
.btn button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: 2px solid #333;
    cursor: pointer;
    border-radius: 4px;
}
p {
    color: aliceblue;
    margin: 0;
    font-size: large;
    align-items: center;
}
.picture {
    width: auto;
    height: auto;
    border-radius: 20px;
    margin-top: 25px;
}